nav {
  background-color: grey;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  font-family: Roboto;
  font-weight: 400;
  font-size: 40px;
}

body {
  background-color: lightgray;
}
#main-window {
  display: flex;
  /* border: 1px solid black; */
}

#legacy-form {
  width: 50%;
}

#legacy {
  display: flex;
  align-items: flex-start;
  /* display: flex; */
  flex-direction: column;
}

#keypad {
  width: 25%;
}

#keypad-switches {
  display: flex;
}

#debug-info {
  /* border: 1px solid black; */
}
#memory-display {
  /* display: block; */
}
.key-button {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 3px;
}
.text-input {
  height: 100px;
}

/* Keyboard styles */
